<!DOCTYPE html>
<html>
  <head>

    <title>firstTask</title>
    <link rel="stylesheet" type="text/css" href="css/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="style.scss">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  </head>
  <body>

    <div class="ui form">
      <div class="fields">
        <div class="field">
          <label>Name</label>
          <input type="text" placeholder="Name">
        </div>
        <div class="field">
          <label>Phone</label>
          <input type="text" placeholder="Phone">
        </div>
        <div class="field">
          <label>Email</label>
          <input type="text" placeholder="Email">
        </div>
      </div>
      <button class="medium ui button">Add Contact</button>
    </div>

    <table class="ui striped table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Phone</th>
          <th>Email</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>John Lilki</th>
          <th>01020250657</th>
          <th>jhlilk22@yahoo.com</th>
          <th> 
            <button class="tiny ui button">Edit</button>
            <button class="tiny ui button">delete</button>
          </th>
        </tr>
        <tr>
          <th>Jamie Harington</th>
          <th>01028930657</th>
          <th>jamieharingonton@yahoo.com</th>
          <th> 
            <button class="tiny ui button">Edit</button>
            <button class="tiny ui button">delete</button>
          </th>
        </tr>
        <tr>
          <th>Jill Lewis</th>
          <th>01020292657</th>
          <th>jilsewris22@yahoo.com</th>
          <th> 
            <button class="tiny ui button">Edit</button>
            <button class="tiny ui button">delete</button>
          </th>
        </tr>
        <tr>
          <th>John Lilki</th>
          <th>01020250657</th>
          <th>jhlilk22@yahoo.com</th>
          <th> 
            <button class="tiny ui button">Edit</button>
            <button class="tiny ui button">delete</button>
          </th>
        </tr>
        <tr>
          <th>Harington</th>
          <th>01098450659</th>
          <th>jilsewris22@yahoo.com</th>
          <th> 
            <button class="tiny ui button">Edit</button>
            <button class="tiny ui button">delete</button>
          </th>
        </tr>
      </tbody>
    </table>
    <!--
    <div ng-app="">
      <p>Name : <input type="text" ng-model="name" placeholder="name">
      </p>
      <h1>Hello {{name}}</h1>
    </div> 

    <script>
var app = angular.module("myShoppingList", []); 
app.controller("myCtrl", function($scope) {
    $scope.products = ["Milk", "Bread", "Cheese"];
    $scope.addItem = function () {
        $scope.products.push($scope.addMe);
    }    
});
</script>

<div ng-app="myShoppingList" ng-controller="myCtrl">
  <ul>
    <li ng-repeat="x in products">{{x}}</li>
  </ul>
  <input ng-model="addMe">
  <button ng-click="addItem()">Add</button>
</div>

<p>Write in the input field to add items.</p>-->
        <script src="js/semantic.min.js"></script>
        <script src="js/app.js"></script>
    </body>
</html>